/*A CSS pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). For example, :hover can be used to apply a style when the user hovers over a button.

Pseudo-classes let you apply a style to an element not only in relation to the content of the document tree, but also in relation to external factors like the history of the navigator (:visited, for example), the status of its content (like :checked on certain form elements), or the position of the mouse (like :hover, which lets you know if the mouse is over an element or not).

In contrast to pseudo-classes, pseudo-elements can be used to style a specific part of an element.*/

section#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

ul > li {
  font-size: .8em;
}

h1 p:first-of-type {
  color: red;
}